In [3]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import psycopg2

from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [11]:
db_password = "Keyport3717!"

In [12]:
url = f"postgres://postgres:{db_password}@127.0.0.1:5433/Attrition"

In [13]:
def connect(url):
    # Connect to the server
    conn = None
    try:
        print('Connecting...')
        conn = psycopg2.connect(url)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error) 
    print("Connected")
    return conn

In [14]:
#A function to conect a db and bring in Data into a panda df 
def sql_to_df(conn, select_query, column_names):
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error")
        cursor.close()
        return 0
    
    # Turn tupples into a df
    tupples = cursor.fetchall()
    cursor.close()
    
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [15]:
# Connect to the database
conn = connect(url)
column_names = ["Attrition", "Age", "Department", "EmployeeNumber", "Gender", "HourlyRate","JobLevel", "MaritalStatus", "NumCompaniesWorked", "PercentSalaryHike", "PerformanceRating", "StockOptionLevel", "TotalWorkingYears", "TrainingTimesLastYear", "WorkLifeBalance", "YearsAtCompany", "YearsInCurrentRole", "YearsSinceLastPromotion" ]
# Execute the "SELECT *" query
attrition_df = sql_to_df(conn, "select * FROM joint_table", column_names)
attrition_df.head()

Connecting...
Connected

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,Yes,41,Sales,1,Female,94,2,Single,8,11,3,0,8,0,1,6,4,0
1,No,49,Research & Development,2,Male,61,2,Married,1,23,4,1,10,3,3,10,7,1
2,Yes,37,Research & Development,4,Male,92,1,Single,6,15,3,0,7,3,3,0,0,0
3,No,33,Research & Development,5,Female,56,1,Married,1,11,3,0,8,3,3,8,7,3
4,No,27,Research & Development,7,Male,40,1,Married,9,12,3,1,6,3,3,2,2,2

In [16]:
# Display datatypes
attrition_df.dtypes

Attrition                  object
Age                         int64
Department                 object
EmployeeNumber              int64
Gender                     object
HourlyRate                  int64
JobLevel                    int64
MaritalStatus              object
NumCompaniesWorked          int64
PercentSalaryHike           int64
PerformanceRating           int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
dtype: object

# Data Cleaning

In [17]:
# Transform String column for Gender

def change_string(gender):
    if gender == "Female":
        return 1
    else: return 0
    
attrition_df["Gender"] = attrition_df["Gender"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,Yes,41,Sales,1,1,94,2,Single,8,11,3,0,8,0,1,6,4,0
1,No,49,Research & Development,2,0,61,2,Married,1,23,4,1,10,3,3,10,7,1
2,Yes,37,Research & Development,4,0,92,1,Single,6,15,3,0,7,3,3,0,0,0
3,No,33,Research & Development,5,1,56,1,Married,1,11,3,0,8,3,3,8,7,3
4,No,27,Research & Development,7,0,40,1,Married,9,12,3,1,6,3,3,2,2,2

In [18]:
# Transform String column for Marital Status

def change_string(marital_status):
    if marital_status == "Single":
        return 1
    elif marital_status == "Married":
        return 2
    else: return 0
    
attrition_df["MaritalStatus"] = attrition_df["MaritalStatus"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,Yes,41,Sales,1,1,94,2,1,8,11,3,0,8,0,1,6,4,0
1,No,49,Research & Development,2,0,61,2,2,1,23,4,1,10,3,3,10,7,1
2,Yes,37,Research & Development,4,0,92,1,1,6,15,3,0,7,3,3,0,0,0
3,No,33,Research & Development,5,1,56,1,2,1,11,3,0,8,3,3,8,7,3
4,No,27,Research & Development,7,0,40,1,2,9,12,3,1,6,3,3,2,2,2

In [19]:
# Transform String column for Deparment

def change_string(dept):
    if dept == "Human Resources":
        return 1
    elif dept == "Research & Development":
        return 2
    elif dept == "Sales":
        return 3
    else: return 0
    
attrition_df["Department"] = attrition_df["Department"].apply(change_string)
attrition_df.head()

,Attrition,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,Yes,41,3,1,1,94,2,1,8,11,3,0,8,0,1,6,4,0
1,No,49,2,2,0,61,2,2,1,23,4,1,10,3,3,10,7,1
2,Yes,37,2,4,0,92,1,1,6,15,3,0,7,3,3,0,0,0
3,No,33,2,5,1,56,1,2,1,11,3,0,8,3,3,8,7,3
4,No,27,2,7,0,40,1,2,9,12,3,1,6,3,3,2,2,2

In [20]:
#find null values

for column in attrition_df.columns:
    print(f"Column {column} has {attrition_df[column].isnull().sum()} null values")

Column Attrition has 0 null values
Column Age has 0 null values
Column Department has 0 null values
Column EmployeeNumber has 0 null values
Column Gender has 0 null values
Column HourlyRate has 0 null values
Column JobLevel has 0 null values
Column MaritalStatus has 0 null values
Column NumCompaniesWorked has 0 null values
Column PercentSalaryHike has 0 null values
Column PerformanceRating has 0 null values
Column StockOptionLevel has 0 null values
Column TotalWorkingYears has 0 null values
Column TrainingTimesLastYear has 0 null values
Column WorkLifeBalance has 0 null values
Column YearsAtCompany has 0 null values
Column YearsInCurrentRole has 0 null values
Column YearsSinceLastPromotion has 0 null values

# Split the Data into Training and Testing

In [21]:
# Create our features
columns = ["Age", "Department", "EmployeeNumber", "Gender", "HourlyRate","JobLevel", "MaritalStatus", "NumCompaniesWorked", "PercentSalaryHike", "PerformanceRating", "StockOptionLevel", "TotalWorkingYears", "TrainingTimesLastYear", "WorkLifeBalance", "YearsAtCompany", "YearsInCurrentRole", "YearsSinceLastPromotion" ]

# Create our target
target = ["Attrition"]

In [23]:
# Create our features
X = pd.get_dummies(attrition_df.drop(columns="Attrition"))

# Create our target
y = attrition_df["Attrition"]

In [24]:
X.describe()

,Age,Department,EmployeeNumber,Gender,HourlyRate,JobLevel,MaritalStatus,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,2.260544,1024.865306,0.400000,65.891156,2.063946,1.235374,2.693197,15.209524,3.153741,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755
std,9.135373,0.527792,602.024335,0.490065,20.329428,1.106940,0.790757,2.498009,3.659938,0.360824,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430
min,18.000000,1.000000,1.000000,0.000000,30.000000,1.000000,0.000000,0.000000,11.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,491.250000,0.000000,48.000000,1.000000,1.000000,1.000000,12.000000,3.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,36.000000,2.000000,1020.500000,0.000000,66.000000,2.000000,1.000000,2.000000,14.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000
75%,43.000000,3.000000,1555.750000,1.000000,83.750000,3.000000,2.000000,4.000000,18.000000,3.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000
max,60.000000,3.000000,2068.000000,1.000000,100.000000,5.000000,2.000000,9.000000,25.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000

In [25]:
# Check the balance of our target values
y.value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(1102, 17)

# Balanced Random Forest Classifier

In [27]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
model_fit = model.fit(X_train, y_train)

In [28]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model_fit.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6521309856837255

In [29]:
# Display the confusion matrix
cMatrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cMatrix_df = pd.DataFrame(
    cMatrix, index=["Actual Attrition", "Actual Non-Attrition"], columns=["Predicted Attrition", "Predicted Non-Attrition"])
cMatrix_df

                      Predicted Attrition  Predicted Non-Attrition
Actual Attrition                      204                      105
Actual Non-Attrition                   21                       38

In [30]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       0.91      0.66      0.64      0.76      0.65      0.43       309
        Yes       0.27      0.64      0.66      0.38      0.65      0.42        59

avg / total       0.80      0.66      0.65      0.70      0.65      0.43       368

# Easy Ensemble AdaBoost Classifier

In [32]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

eeClass = EasyEnsembleClassifier(n_estimators=100, random_state=1)

# Fit
eeClass.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [33]:
# Calculated the balanced accuracy score

y_pred = eeClass.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6783226372661949

In [34]:
# Display the confusion matrix

# Calculating the confusion matrix
cMatrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cMatrix_df = pd.DataFrame(
    cMatrix, index=["Actual Attrition", "Actual Non-Attrition"], columns=["Predicted Attrition", "Predicted Non-Attrition"])
cMatrix_df

                      Predicted Attrition  Predicted Non-Attrition
Actual Attrition                      194                      115
Actual Non-Attrition                   16                       43

In [35]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       0.92      0.63      0.73      0.75      0.68      0.45       309
        Yes       0.27      0.73      0.63      0.40      0.68      0.46        59

avg / total       0.82      0.64      0.71      0.69      0.68      0.45       368

In [36]:
# List the features sorted in descending order by feature importance

features_rank = sorted(zip(model.feature_importances_, X.columns), reverse=True)
for feature in features_rank:
    print(f"{feature[1]}: ({feature[0]})")

HourlyRate: (0.10733553421570612)
EmployeeNumber: (0.10082372424849179)
Age: (0.09557795561776826)
TotalWorkingYears: (0.088894955474588)
YearsAtCompany: (0.08613853351441969)
StockOptionLevel: (0.06488281232431584)
PercentSalaryHike: (0.06268606006003533)
NumCompaniesWorked: (0.06233486942946449)
YearsInCurrentRole: (0.055744870883249066)
JobLevel: (0.05564944706183399)
TrainingTimesLastYear: (0.05166236621500803)
YearsSinceLastPromotion: (0.04406418657310109)
WorkLifeBalance: (0.03554572351216985)
MaritalStatus: (0.03005782057479932)
Department: (0.02645709057949747)
Gender: (0.02332836238611803)
PerformanceRating: (0.008815687329433688)